@import url("fonts.css");
@import url("null.css");

/* ---------------------------------------- */

body {
    font-family: "Source Sans Pro", sans-serif;
}

/* ---------------------------------------- */

[class*="__container"]{
    max-width: 1054px;
    padding-inline: 15px;
    margin: 0 auto;
}

/* ---------------------------------------- */

.page{

}

[class*="page__"]{
    padding-block: 64px;
}

@media (max-width: 767.98px) {
        [class*="page__"] {
        padding-block: 32px;
    }
}
/* ---------------------------------------- */

/* Components */

.button {
    border-radius: 4px;
    background-color: #d8ae5e;
    color: #f4f4f4;
    text-transform: uppercase;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

@media (any-hover: hover) {
    .button:hover {
        background-color: #9a7c43;
    }
}

/* ---------------------------------------- */

.wrapper {
    min-height: 100%;
}

/* ---------------------------------------- */

.hero {
    position: relative;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0.6;
}
.hero__container {
    position: relative;
    z-index: 3;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15.533981svh;

    padding-block: 7.76699svh; /* 64/824 */
}


.hero__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.883495svh; /* 32/824 */
}

.hero__logo{}


.menu__list {
    display: flex;
    justify-content: center;

    /* ОБЕЗАТЕЛЬНО */

    flex-wrap: wrap;

    column-gap: 16px;
    row-gap: 15px;
}

@media (any-hover: hover) {
    .menu__link:hover {
        text-decoration: underline;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.427184svh; /* 20/824 */


}

.hero__title {
    text-transform: uppercase;
    font-family: "Bodoni 72", serif;
    font-size: 96px;
}

.hero__label {
    letter-spacing: 3.6px;
    font-size: 24px;
    text-transform: uppercase;
}

.hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

/* ---------------------------------------- */


@media (max-width: 767.98px) {
    .hero__title {
        font-size: 66px;
    }

    .menu__link {
        font-size: 20px;
    }
}


.about__header {
}
.header-block {
    text-align: center;
}

.header-block::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #d8ae5e;
    margin-top: 32px;
}

.header-block__title {
    font-family: "Bodoni 72", serif;
    text-transform: uppercase;
    font-size: 64px;
}

.header-block__title:not(:last-child) {
    margin-bottom: 8px;
}

.header-block__text {
    letter-spacing: 0.8px;
    line-height: 1.2;
    text-transform: uppercase;
}

.header-block__text p:not(:last-child) {
    margin-bottom: 5px;
}

@media (max-width: 767.98px) {
    .header-block__title {
        font-size: 46px;
    }

    .header-block::after {
        margin-top: 16px;
    }

    .header-block__text {
        font-size: 14px;
    }
}

/* ---------------------------------------- */

.about {
}
.about__container {
}
.about__header {
    margin-bottom: 32;
}
.about__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.about__text {
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 20px;
}

.about__text:not(:last-child) {
    margin-bottom: 32px;
}

.about__text p:not(:last-child) {
    margin-bottom: 10px;
}

.about__button {
}

@media (max-width: 767.98px) {
    .about__text {
        font-size: 16px;
    }

    .about__text:not(:last-child) {
        margin-bottom: 16px;
    }


    .about__header {
        margin-bottom: 16px;
    }
}

/* ---------------------------------------- */